body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #825CFF;
}

.tabs-container {
  max-width: 800px;
  margin: 50px auto;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #999;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tabs {
  display: flex;
  border-bottom: 2px solid #ddd;
  background-color: #fff;
}

.tab-header {
  flex: 1;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  font-weight: bold;
  position: relative;
}

.tab-header.active {
  color: #825CFF;
}

.tab-header::after {
  content: '';
  display: block;
  height: 3px;
  background-color: #825CFF;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}

.tab-header.active::after {
  transform: scaleX(1);
}

.tab-header:hover {
  background-color: #fff;
  color: #825CFF;
  transform: translateY(-2px);
}

.tab-content {
  padding: 20px;
  background-color: #fff;
}

.tab-pane {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.tab-pane.active {
  display: block;
  opacity: 1;
}

.tab-content h2 {
  margin-top: 0;
  color: #825CFF;
}

.tab-content img {
  width: 100%;
  border-radius: 8px;
  margin: 20px 0;
}

.tab-content table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.tab-content th, .tab-content td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.tab-content th {
  background-color: #825CFF;
  color: #fff;
}